body{
font-family: 'Montserrat';
}

/*title*/
#title{
    background-color:#FF9F9F;
}
.Title-image{
    width: 140%;
    height: 80%;
    padding-left: 30%;

}

h1{
    color: white;
}

.navbar{
    padding: 0 0 4.5rem;; 
}

.nav-item{
    padding: 0px 18px ;
}

.container-fluid{
    padding: 3% 15%;
}

/*features*/
#features{
    text-align: center;
    padding: 10% 10%;
    
}

.features-img{
    width: 20%;
    
}

.feat1{
    margin-bottom: 10%;
}

p{
    color:  #8f8f8f;
}


/*testimonials*/
#testimonials{
    text-align: center;
}

.testheader{
    padding-bottom: 10%;
}
.testbox{
    padding-bottom: 5%;
}

/*slide*/
#slide{
   
    text-align: center;
    background-color:#E97777 ;
    color: white;
 }
 .slide-image{
    width:20%;
    border-radius: 100%;
    margin:20px
 }
 .carousel-item{
    padding: 15% 15% ;
 }

/*call to action*/
#cta{
 text-align: center;

}

.cta-photo{
    width:10%;
}

.ctc{
    margin-top: 8%;
    margin-bottom: 3%;
}

.btn:hover{
    background-color: greenyellow;
}

/*--contact--*/
#contact{
    background-color: #F2DEBA;
    text-align: center;
    margin-top: 5%;
    padding: 3% 3%;
}
.cont{
    margin-bottom: 4%;
}